body{
    font-family: 'Roboto', sans-serif;
}

#part1{
    padding: 17% 16% 17%;
    margin-left:29%;
}
#logo{
    height:32%;
}
.aboutUs, #part3{
    text-align: center;
}
#part3{
    margin-top: 5%;
}
.aboutUs{
    margin:5%;
    text-align: center;
    width:85%;
}
.whatWeDo{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
    text-align: center;
    margin:5%;
}
#designText, #devText, #prodText{
    display: none;
    text-align: center;
}
.portfolio{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center; 
  padding: 1%;
  margin:5% 5% 5%;
}

#portfo{
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  margin:1%;
}
#portfo2{
  display: flex;
  align-items: center;
  margin:1%;
}

#contact{
  align-items: center;
  /* margin:5%; */
}
#contactForm{
  padding: 5%;
  margin: 5%;
}
.col-3>img:hover{
  border: 1px solid white;
  background: white;
  opacity: 0.4;
}
#w1Text,#w2Text,#w3Text,#w4Text,#w5Text,#w6Text,#w7Text,#w8Text{
  display: none;
  text-align: center;
  margin-top:-20%;
  color: black;
  font-weight: bold;
}

@media (max-width: 575.98px) {
    .table-responsive-sm {
      display: block;
      width: 100%;
      overflow-x: auto;
      -webkit-overflow-scrolling: touch;
      -ms-overflow-style: -ms-autohiding-scrollbar;
    }
    .table-responsive-sm > .table-bordered {
      border: 0;
    }
  }
  
  @media (max-width: 767.98px) {
    .table-responsive-md {
      display: block;
      width: 100%;
      overflow-x: auto;
      -webkit-overflow-scrolling: touch;
      -ms-overflow-style: -ms-autohiding-scrollbar;
    }
    .table-responsive-md > .table-bordered {
      border: 0;
    }
  }
  
  @media (max-width: 991.98px) {
    .table-responsive-lg {
      display: block;
      width: 100%;
      overflow-x: auto;
      -webkit-overflow-scrolling: touch;
      -ms-overflow-style: -ms-autohiding-scrollbar;
    }
    @media (min-width: 1200px) {
        .col-xl {
          -ms-flex-preferred-size: 0;
          flex-basis: 0;
          -ms-flex-positive: 1;
          flex-grow: 1;
          max-width: 100%;
        }